
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(179, 203, 228);
    height:30%;
    width: 60%;
    margin-top: 2%;
   
    margin-left: 20%;
    border-radius: 1%;
   
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.form-field{
    display: flex;
    flex-direction: column;
    margin:1%;
    height: 100%;
}
.label-container{
    margin-bottom: 5%;
    font-family: "Combo", system-ui;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
  

}
  .temperature-animated-icon {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    height:40%;
}